[Unit]
Description=Run JAudioSync autostart script after network is online
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/autostart.sh

[Install]
WantedBy=multi-user.target
